<div id="dataTable" class="row my-2">
  <% resto.forEach(e => { %>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card my-2 mx-1">
        <div class="card-body">
          <h5 class="card-title"><b><%= e.nama %></b> </h5>
          <div class="menu row d-block">
            <ul>
              <li><i class="fa fa-map-marker text-primary" aria-hidden="true"></i> <%= e.alamat %> </li>
              <li><i class="fa fa-star text-warning" aria-hidden="true"></i> <%= e.favoriteMenu %> </li>
            </ul>
          </div>
          <p class="card-text"><%= e.deskripsi %> </p>
          <div class="row">
            <div class="col-lg-6 col-md-12 my-1 col-sm-12">
              <a href="javascript:void()" class="btn btn-block btn-warning button-update"
                data-id="<%= e.id %>"
                data-nama="<%= e.nama %>"
                data-alamat="<%= e.alamat %>"
                data-deskripsi="<%= e.deskripsi %>"
                data-favoriteMenu="<%= e.favoriteMenu %>"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 my-1 col-sm-12">
              <form action="/resto/<%= e.id %>?_method=DELETE" method="POST">
                <button class="btn btn-block btn-danger" type="submit" 
                  onclick="return confirm('Data ini akan terhapus dari database!,yakin ?')">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>  
</div>