<%- include('./includes/_head') %>

  <%- include('./includes/_navbar') %>
  <main>
    <div class="container">
      <div class="row my-3 d-flex justify-content-center">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-primary mx-2" 
            data-toggle="modal" data-target="#add-modal">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col-auto col-lg-12 mt-2">
            <% if(alert.message != "") { %>
            <div class="alert alert-<%= alert.status %>" role="alert">
              <%= alert.message %>
            </div>
            <% } %>
          </div>
      </div>
        <%- include('./includes/_card') %> 
    </div>
  </main>

  <%- include('./includes/_add_modal')  %> 
  <%- include('./includes/_edit_modal') %> 
<%- include('./includes/_footer') %> 